.btn3 {
    margin-left: 5px;
    letter-spacing: 2px;
    font-family: 'Texturina';
    font-weight: 700;
    /* background-color: #004fe0; */
}
form {
    margin-left: 50px;
    margin-right: 400px;
}

a {
    font-size: 20px;
}
.alert {
    width: 400px;
    margin-top: 50px;
    margin-left: 440px;
}

.user-detail {
    display: flex;
    width: 100%;
}
.pass-detail {
    display: flex;
    width: 100%;
}

.form-control.email {
    max-width: 97%;
}

.fname::after, .lname::after, .mail::after, .pass::after, .confirm-pass::after {
    content: "*";
    color: red;
}
.column{
    padding: 20px;
}
form {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px lightgray;
    padding: 20px;
    width: 500px;
    align-items: center;
    margin-left: 460px;
    margin-top: 30px;
    box-sizing: 150%;
}

a {
    text-align: center;
    padding-left: 80px;
}